Welcome <%= current_user.name %>!
<%= link_to "View Printers", controller: :printers, action: :index %>
<%= form_for :hashtag, method: :post, url: {controller: :hashtags, action: :create} do |f| %>
    <%= f.text_field :name, placeholder: 'Add a hashtag' %>
    <%= f.submit %>
<% end %>
<h2>Hashtag Subscriptions</h2>
<%= Instagram.subscriptions %>