Welcome <%= current_user.name %>!
<%= link_to "View Printers", controller: :printers, action: :index %>
<br/>
<% if !flash[:message].nil? %>
    <%= flash[:message] %>
<% end %>
<% if !@error.nil? %>
    <div id = "error_explanation">
        <p><%= @error %></p>
    </div>
<% end %>
<%= form_for :hashtag, method: :post, url: {controller: :hashtags, action: :create} do |f| %>
    <%= f.text_field :name, placeholder: 'Add a hashtag' %>
    <%= f.submit %>
<% end %>
<h2>Hashtag Subscriptions</h2>
<% for subscription in Instagram.subscriptions %>
    <%= "##{subscription['object_id']}" %> <%= link_to 'Delete', controller: :hashtags, action: :delete, id: subscription['object_id'] %><br/>
<% end %>